body{
	margin: 0%;
	padding: 0;
}


.fullWidht{
	width: 100%;

}

.innerWrapper{
	width: 960px;
	margin: 0px auto;

}

.header{
	height: 150px;
	background-color: lightblue;
}

.logo{
	margin: 0px auto;
	width: 80px;
}

.logo img {
	height: 80px;
}

.navbar ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

.navbar ul li {
	float: left;
	list-style-type: none;
	background: white;
	margin: 0px auto;
	padding: 5px 15px;
}

.navbar ul li a{
	text-decoration: none;
	color: black;
}

.slider{
	height: 250px;
	background: red;
}

.content{
	background: lightgreen;
	
}
.contentInner{

}

.contentItem{
	width: 208px;
	height: 150px;
	border: 1px solid darkblue;
	float: left;
	padding: 10px;
	margin: 5px;
	background: green;
}

.footer{
	clear: both;
	height: 100px;
	background: yellow;
}